.modal-container {
    position: fixed;
    padding: 127px;
    background-color: rgba(61, 61, 61, 0.48);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    overflow: auto;
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    height: 630px;
    width: 400px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btns {
    display: flex;
}

.input-value {
    display: flex;
    flex-direction: column;
}

.input-category {
    display: flex;
    flex-direction: column;
}

.input-date {
    display: flex;
    flex-direction: column;
}

.input-description {
    display: flex;
    flex-direction: column;
}

.modal div {
    width: 340px;
    margin: 10px 30px;
}

.btns .btn-in {
    all: unset;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    width: 150px;
    height: 40px;

    background: #B9B9B9;
    border-radius: 10px 0px 0px 10px;
    color: white;
}

.btns .btn-out {
    all: unset;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    width: 150px;
    height: 40px;
    background-color: #FF576B;
    border-radius: 0px 10px 10px 0px;
    color: white;
}

form input {
    margin-bottom: 0px;
    width: 320px;
    height: 40px;
}

form select {
    width: 320px;
    height: 40px;
}

form label {
    font-family: 'Rubik', sans-serif;

    color: #484848;
}

h1 {
    font-family: 'Rubik', sans-serif;

    margin-bottom: 25px;
}

form button {
    all: unset;
    text-align: center;
    font-family: 'Rubik', sans-serif;

    width: 200px;
    height: 34px;

    background: #7978D9;
    border-radius: 5px;
    color: white;

    margin-top: 18px;
}