.container-resume {
    padding: 26px 33px;

    background: #FAFAFA;
    box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.container-title h1 {
    width: 72px;
    height: 21px;
    left: 1137px;
    top: 253px;

    font-style: normal;
    font-weight: 700px;
    font-size: 18px;
    line-height: 21px;

    color: black;
}

.container-resume h3 {
    display: inline-block;
}

.container-exit {
    margin-bottom: 19px;
}

.value-enter {
    color: #645FFB;
    margin-left: 20px;
}

.value-exit {
    color: #FA8C10;
    margin-left: 20px;
}

.divide {
    width: 189px;
    height: 0px;
    width: 189px;
    height: 0px;
    left: 1128px;
    top: 358px;

    border: 1px solid #EAEAEA;


    border: 1px solid #EAEAEA;

}

.container-total {
    margin-top: 16px;
}

.value-total {
    color: #3A9FF1;
    margin-left: 45px;
}


.btn-add {
    width: 100%;
    height: 46px;
    background: #7978D9;
    border-radius: 5px;
    color: white;
    border: none;
}

.btn {
    border: none;
}