.modal-container {
    position: absolute;

    height: 100%;
    width: 100%;

    background-color: rgba(3, 3, 3, 0.5);

    display: flex;
    justify-content: center;
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    height: 630px;
    width: 400px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btns {
    display: flex;
}

.input-value {
    display: flex;
    flex-direction: column;
}

.input-category {
    display: flex;
    flex-direction: column;
}

.input-date {
    display: flex;
    flex-direction: column;
}

.input-description {
    display: flex;
    flex-direction: column;
}

.modal div {
    width: 340px;
    margin: 10px 30px;
}

.btns .btn-in {
    all: unset;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    width: 150px;
    height: 40px;

    background: #3A9FF1;
    border-radius: 10px 0px 0px 10px;
    color: white;
}

.btns .btn-out {
    all: unset;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    width: 150px;
    height: 40px;

    background: #B9B9B9;
    border-radius: 0px 10px 1px 0px;
    color: white;
}

form input {
    width: 320px;
    height: 40px;
}

form select {
    width: 320px;
    height: 40px;
}

form label {
    font-family: 'Rubik', sans-serif;

    font-weight: 500;
    font-size: 24px;
    line-height: 28px;

    color: #484848;
}

h1 {
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
}

form button {
    all: unset;
    text-align: center;
    font-family: 'Rubik', sans-serif;

    width: 200px;
    height: 34px;

    background: #7978D9;
    border-radius: 5px;
    color: white;
}